* {
  margin: 0;
}

:root {
  --serif: "Noto Serif", serif;
  --sans-serif: "Poppins", sans-serif;
  --beige: #fdf4e2;
  --dark-blue: #00275b;
  --dark-blue-hover: #001836;
}

html {
  background-color: black;
  font-family: var(--sans-serif);
}

/*Introduction*/

.loading {
  background-image: url("loading.png");
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: 0.5s;
}

.intro-video {
  width: 100%;
  height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -100;
  opacity: 50%;
  transform: translateY(-20%);
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 100%;
}
.none {
  display: none;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
  cursor: default;
}

.introduction h1 {
  font-size: 5vw;
  letter-spacing: 0.8rem;
  font-family: var(--sans-serif);
  color: white;
  width: min-content;
  text-align: center;
  display: block;
  margin: auto;
  line-height: 100%;
  padding-top: 10rem;
}

.introduction p {
  font-size: 2.2vw;
  line-height: 120%;
  font-family: var(--serif);
  color: white;
  width: 40vw;
  text-align: center;
  display: block;
  margin: auto;
  padding: 2rem 0;
  color: var(--beige);
}

.introduction button {
  font-size: 2vw;
  width: 20vw;
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--dark-blue);
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all ease 0.5s;
  overflow: hidden;
}

.introduction button:hover {
  background-color: var(--dark-blue-hover);
}
